<!doctype html>
<html>
	<head>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    	<script src="main.js"></script> 	

    	<link rel="stylesheet" href="main.css">
  	</head>
	<body>
		
    	<h2>Pandemic Legacy Season 2 - City Tracker</h2>
	    <div ng-app="myApp" ng-controller="cityController as cities">	
	    	<div class="row">			
				<div class="column">
			    	<h4>Infection Draw Pile</h4>
				    <span>{{cities.remainingDraw()}} of {{cities.totalDraw()}} remaining</span>		    
				    <ul class="unstyled">
				    	<li ng-repeat="city in cities.drawPile" ng-show="city.count > 0 || cities.adminMode">        	
				        	<span ng-click="cities.redrawStack.length == 0 && cities.discard(city)" class="cursor-{{cities.getDrawPileCursor()}} city-{{city.color}}">{{city.text}} - {{city.count}}</span>
				        	<span ng-show="cities.adminMode"> - [ <a href="" ng-click="cities.removeFromDraw(city)">remove</a> | <a href="" ng-click="cities.increaseCityCount(city)">+1</a> | <a href="" ng-click="cities.decreaseCityCount(city)">-1</a> ]</span>
				        </li>
					</ul>
							
					<select ng-model="cities.selectedCity" ng-options="city.text for city in cities.drawPile | NotDepletedCity" ng-change="cities.epidemicButtonDisabled = false"></select>
					<span><button ng-click="cities.epidemic(cities.selectedCity)" ng-disabled="cities.epidemicButtonDisabled">Epidemic!</button></span>
					
		    	</div>
		    
		    	<div class="column">  	
				    <div ng-show="cities.redrawStack.length > 0">
				    	<h4>Redraw Stacks (top down)</h4>
				    	<div ng-repeat="cityGroup in cities.redrawStack">
					    	<span>Cards remaining - {{cityGroup.length}}</span>
					    	<ul>
						    	<li ng-repeat="city in cityGroup track by $index"> 	
						        	<span ng-click="cities.isTopGroup(cityGroup) && cities.discardFromRedraw(city, cityGroup)" class="cursor-{{cities.getReDrawPileCursor(cityGroup)}} city-{{city.color}}">{{city.text}}</span>
						        	<span ng-show="cities.adminMode"> - [ <a href="" ng-click="cities.removeFromRedraw(cityGroup, city)">remove</a> ]</span> 		
						        </li>
						          
							</ul>
							<hr ng-show="cities.redrawStack.length > 1">					    	
				    	</div>
				    	
				    </div>	    	
		    	</div>
		    
		    	<div class="column">
				    <h4>Infection Discard Pile</h4>
				    <span>Discard count - {{cities.discardPile.length}}</span>
				    <ul>
				    	<li ng-repeat="city in cities.discardPile track by $index" > 	
				        	<span class="cursor-default city-{{city.color}}">{{city.text}}</span>
				        	<span ng-show="cities.adminMode"> - [ <a href="" ng-click="cities.removeFromDiscard(city)">remove</a> ]</span>   	  	
				        </li>
					</ul>	    	
		    	</div>

			</div>
			
			<p>Click on city to add to discard pile.  Must deplete redraw groups in order. </p>
	    	<p>Admin Mode - <a href="" ng-click="cities.toggleAdminMode()">{{cities.adminText}}</a></p>
	    	
	    </div>
	    
	    
	</body>
</html>