.city-black {
	color: white;
    background-color: black;
}

.city-yellow {
  	background-color: yellow;
}

.city-blue {
	color: white;
  	background-color: blue;
}

.city-green {
	color: white;
	background-color: green;
}

.city-red {
	color: white;
	background-color: red;
}

.column {
    float: left;
    width: 20%;
}

.cursor-default {
	cursor: default;
}

.cursor-pointer {
	cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
